<div class='row'>
	<div class='col-sm-4' id='left-panel'>
		<div>
		<p><img src='assets/images/greeting_tech_3.jpg' /></p>
		<p><img src='assets/images/about_1.jpg' /></p>
		<p><img src='assets/images/greeting_tech_2.jpg' /></p>
	</div>
	</div>

	<div class='col-sm-8' id='text'>
		<h1>Наша компания</h1>
		<p>ООО «РКК-Практик» занимается поставкой запчастей, комплектующих и расходных материалов для строительной
        спецтехники (буровых и своебойных установок) известных импортных и отечественных производителей:   </p>
            <ul>
				<li><span>Junttan OY</span></li>
				<li><span>Liebherr</span></li>
				<li><span>Bauer</span></li>
				<li><span>Ропат</span></li>
                <li><span> И многих других</span></li>
			</ul>
		<p>Наши специалисты в сфере ремонта строительной техники, комплектующих и крупно-узловых агрегатов помогут Вам в кратчайшие сроки организовать ремонт, сервисное обслуживание, пуско-наладочные работы.</p>
		<p>Наша компания существует на рынке уже более 2-х лет, но успела зарекомендовать себя как качественный поставщик и надёжный сотрудник.</p>
	</div>
</div>