<div class='row'>
	<div class='col-sm-4' id='left-panel'>
		<div>
		<p><img src='assets/images/greeting_tech_1.jpg' /></p>
		<p><img src='assets/images/greeting_tech_2.jpg' /></p>
		<p><img src='assets/images/greeting_tech_3.jpg' /></p>
	</div>
	</div>

	<div class='col-sm-8' id='text'>
		<h1>Добро пожаловать!</h1>
		<p>Добро пожаловать на сайт компании "РКК-Практик".</p>
        <p>Здесь вы сможете ознакомиться с продукцией и сделать заказ.</p> 
	      <p>Наши преимущества:</p>
			<ul>
				<li><span>Качественная продукция;</span></li>
				<li><span>Сервис;</span></li>
				<li><span>Техническая поддержка;</span></li>
                <li><span>Быстрая доставка;</span></li>
			</ul>
		<p>Всё это важные составляющие имиджа нашей фирмы наряду с приемлемыми ценами.</p>
        <p>Мы поможем вам в кратчайшие сроки приобрести то, что нужно именно вам.</p>
	</div>
</div>
