<div class='row'>
	<div class='col-sm-4' id='left-panel'>
		<h1>У вас случилась поломка?</h1>
		<br></br>
		<p>Не беда, мы всегда готовы вам помочь в удобное для вас время!</p>
		<br></br>
        <p>Наши специалисты в сфере ремонта строительной техники,
         комплектующих и крупно-узловых агрегатов помогут Вам:</p>
		<ul>
			<li><span>В кратчайшие сроки организовать ремонт;</span></li>
			<li><span>Реализовать пуско-наладочные работы;</span></li>
			<li><span>Организовать сервисное обслуживание. </span></li>
			
            <!--<li><a onclick="extendContract()">наши контакты</a></li>  -->
          <!--  <li>Наши контакты <br/><img src="../z_cd122b76.jpg"><br/> Свяжитесь с нами если вам нужна наша помощь.</li>  -->
		</ul>
	</div>

	<div class='col-sm-8' id='text'>
		<h1>Мы находимся:</h1>
		<p>Санкт-Петербург, улица Подвойского, д. 26, к. 1</p>
		<div id='map'></div>
	</div>
</div>